<div class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{title}} {{leverancier.groep.groepNaam}}</h4>
      </div>
      <div class="modal-body">
		<form class="form-horizontal" role="form">
		  <div class="form-group">
		    <label class="col-sm-2 control-label">Naam</label>
		    <div class="col-sm-4">
		      <input type="text" class="form-control" ng-model="leverancier.lev_naam">
		    </div>
		  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Groep</label>
		    <div class="col-sm-4">
		      <input type="text" class="form-control" ng-model="leverancier.groep.groepNaam">
		    </div>
		  </div>
		  <div class="form-group">
		    <label  class="col-sm-2 control-label">Straat</label>
		    <div class="col-sm-4">
		      <input type="text" class="form-control" ng-model="leverancier.straat">
		    </div>
                    <label  class="col-sm-1 control-label">HuisNr</label>
                    <div class="col-sm-2">
		      <input type="text" class="form-control" ng-model="leverancier.huisNr">
		    </div>
                    <label  class="col-sm-1 control-label">Bus</label>
                    <div class="col-sm-1">
		      <input type="text" class="form-control" ng-model="leverancier.bus">
		    </div>
		  </div>
                  <div class="form-group">
                      <label class="col-sm-2 control-label">Gemeente</label>
		    <div class="col-sm-3">
		      <input type="text" class="form-control" ng-model="leverancier.gemeente">
		    </div>
		    <label class="col-sm-2 control-label">Postcode</label>
		    <div class="col-sm-2">
		      <input type="text" class="form-control" ng-model="leverancier.postcode">
		    </div>      
		  </div>
                    <div class="form-group">
		    <label class="col-sm-2 control-label">Telefoon</label>
		    <div class="col-sm-3">
		      <input type="text" class="form-control" id="name" ng-model="leverancier.telefoon">
		    </div>
		  </div>
		</form>

      </div>
      <div class="modal-footer">
        <button data-toggle="popover" title="Opslaan" data-content="Wijzigingen leverancier opslaan" type="button" ng-click="close()" class="btn btn-primary" data-dismiss="modal">Opslaan</button>
        <button data-toggle="popover" title="Sluiten" data-content="Annuleren" type="button" ng-click="cancel()" class="btn">Annuleren</button>
      </div>
    </div>
  </div>
</div>