/* app css stylesheet */

a {
    text-decoration: none;
}

nav {
  font-size: 18px;
  //font-weight: bold;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  //content: "[";
}

.menu:after {
  //content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.grid {
  width: 75%;
  height: 450px;
}

.ui-grid-cell.ui-grid-disable-selection.ui-grid-row-header-cell {
    pointer-events: auto;
}

.title {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 800;
    line-height: 15.4px;
    color: #001a66;
    text-decoration: underline;
 
}
.modal-header {
    background-color: #ebebe0;
}

.modal-footer {
    background-color: #ebebe0;
}


