<div style="padding-left: 35px;">
    <div class="title">Resultaten leveranciers</div>
    <br>
   <div ng-if="promise" ui-grid-selection ui-grid="gridOptions" class="grid"></div>
   <br>
   <div style="padding-left: 0px;" class="col-md-9">
       <div class="panel panel-default">
           <div class="panel-heading"><div class="title">Nieuwe leverancier</div></div>
         <div class="panel-body">
             <form>
                 
             </form>
         </div>
    </div>
   </div>
     
</div>
