<div class="col-md-8">
  <div class="panel panel-group">
    <div class="panel panel-default">
      <div class="panel-heading"><h4><strong>Berichten</strong></h4></div>
      <div class="panel-body"><h2><strong> Dit is een eerste aanzet van een webtoepassing <br>met Java-REST Backend en AngularJS Frontend.</strong></h2></div>
    </div>  
    <div class="panel panel-default">
      <div class="panel-heading"><h4><strong>Taken </strong></h4></div>
      <div class="panel-body"><h2><strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget purus consequat, egestas nisi id, mattis ipsum.<br>
                  Morbi ac mi a diam tincidunt cursus. Sed orci magna, accumsan aliquam sem at, pulvinar vulputate nisi.<br>
                  Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer tincidunt mollis justo ut eleifend.<br>
                  Sed lobortis massa dui, ac auctor justo lobortis ut. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; <br>
                  Sed pellentesque sem at luctus cursus. Vivamus vehicula molestie ultrices. Nulla facilisi.</strong></h2>
      </div>
    </div> 
  </div>
</div>
 
