<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Welkom</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div style="margin-left: 25px"><h1><strong> Dit is een eerste aanzet van een toepassing <br>met Java REST Backend en AngularJS Frontend.</strong></h1></div>
    </body>
</html>
